* {
  font-family: "Montserrat", sans-serif;
}

/* Generic */

.container {
  text-align: center;
  padding: 20px;
}

.fnt-color-blu {
  color: #008cba;
  font-weight: bold;
}

.fnt-color-verde {
  color: #00b800;
  font-weight: bold;
}

/* Practices */

ul {
  padding: 0;
}

/* Introduzione */

.introduzione {
  margin-bottom: 20px;
}

.introduzione h1 {
  font-size: 40px;
  margin-top: 0;
}

/* Nav bar */

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.menu li {
  display: inline-block;
  position: relative;
}

.menu li a {
  display: block;
  text-decoration: none;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #008cba;
}

.menu li a:hover {
  background-color: #008cba;
  color: white;
}

.menu .submenu {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.menu .submenu li {
  display: block;
  width: 100%;
}

.menu .submenu li a {
  padding: 10px 20px;
  border: 2px solid #00b800;
}

.menu .submenu li a:hover {
  background-color: #00b800;
  color: white;
}
